html {
  font-family: Roboto, sans-serif;
  font-size: 16px;
}

body {
  background: #d4d4d4;
}

main, header {
  padding: 20px;
  background: white;
  margin: 0 auto;
  width: 90%;
  max-width: 576px;
  /*min-height: 100vh;*/
  box-shadow: 0px 10px 30px gray;
}

header {
  padding: 1px 20px;
  margin: 0px auto;
  max-height: 20vh;
  color: white;
  background: #29487d;
}

h1 {
  font-size: 140%;
}

div.form {
  display: flex;
  align-items: center;
  justify-content: center;
}

label {
  
}

input, #stub {
  border: 1px solid lightblue;
  border-radius: 3px;
  /*height: 2em;*/
  width: 100%;
  margin: 5px 0;
  font-family: inherit;
}

input {
  height: 2em;
}
#stub {
  /*height: 3em;*/
  width: 99%;
  resize: vertical;
}

submit {
  
}