body {
  background-color: #222;
}

main {
  height: 20000px;
  width: 60%;
  margin: 0 auto;
  background-color: #242424;
}

p {
  width: 50%;
  margin: 0 auto;
  font-size: 18px;
  font-family: 'Lucida Console';
  color: #eee;
}

h1 {
  font-family: 'Lobster';
  font-size: 40px;
  color: #A080C0;
  text-align: center;
}

a {
  padding: 6px 0;
  text-decoration: none;
  font-family: "Lucida Console", sans-serif;
  color: #fff;
}

a:hover {
  
}

.image {
  float: right;
  border: 1px solid #fff;
}

#bar {
  height: 30px;
  width: 100%;
  background-color: #333;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

li {
  background-color: #666;
  margin: 0 10%;
  float: left;
  padding: 6px 3.3775%;
}