body {
  background-color: #222;
}

main {
  width: 70%;
  margin: 0 auto;
}

p {
  width: 50%;
  margin: 0 auto;
  font-size: 18px;
  font-family: 'Lucida Console';
  color: #C0C0C0;
}

h1 {
  font-family: 'Lobster';
  font-size: 40px;
  color: #A080C0;
  text-align: center;
}

.image {
  float: right;
  border: 1px solid #fff;
}

#bar {
  height: 30px;
  width: 100%;
  background-color: #333;
}