html {
  font-size: 16px;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 62.5%;
}

main {
  margin: 0 auto;
}

h1, h2, h3, h4, h5 {
  font-family: sans-serif;
  font-size: 3em;
  text-align: center;
  margin-bottom: 0;
}

li {
  font-size: 1.8em;
}

header {
  min-height: 24px;
  border-bottom: 2px solid black;
}

ul.menu{padding-left: 200px;}
li.menu {
  float: left;
  margin: 0 10px;
  list-style: none;
}

#clickdiv {
  width: 240px;
  margin: 100px auto;
}

#clickerbutton {
  height: 240px;
  width: 240px;
  border: 15px solid rgba(0,0,0,0.25);
  border-radius: 100%;
  background: #2d3052;
  color: white;
  transition-duration: 100ms;
  -webkit-user-drag: none;
  -webkit-user-select: none;
}

#clickerbutton:hover {
  transform: scale(1.1);
}

#clickerbutton:active {
  transform: scale(1)
}

#clickerbutton:focus {
  outline: 0px;
}

#rightsidebar {
  background: lightgray;
  float: right;
  margin-top: -538px;
  margin-right: -8px;
  height: 100vh;
  width: 320px;
}

#upgrades {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#cps {
  text-align: center;
  margin-top: 0;
  font-size: 1.3em;
  font-weight: 600;
}

.upgrade {
  text-align: left;
  font-weight: 600;
  transition-duration: 50ms;
}

p.upgrade {
  margin: 0;
  font-size: 0.5em;
  color: gray;
}

span.upgrade {
  text-align: right;
  float: right;
  border: 0;
}

button.upgrade {
  outline: 0;
  padding-top: 10px;
  font-size: 2em;
  background: #f2f2f2;
  border: 0;
  border-bottom: 2px solid gray;
  width: 100%;
  height: 100px;
}

.upgrade:hover {
  background: #f8f8f8;
}

.upgrade:active {
  background: gray;
  color: white;
}
